/* saisissez ici vos règles CSS */

#container
{
  width: 980px;
  margin: 0 auto;
}

header{
  text-align: center;
  padding: 1em 0;
  margin : 0;
  background: black;
  color: white;
}

#main{
  position: relative;
}

#main h2
{
  margin-bottom: 1em;
}

#main nav {
  position: absolute;
  top: 0;
  right: 0;
}

#main p {
  text-align: justify;
}

#main ul{
  padding : 0;
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
}

#main ul li{
  border: 1px solid;
  padding-left: 10px;
  padding-right: 10px;
}

#main ul li a{
  color: deepskyblue;
  text-decoration: none;
}

#main ul li img{
  width: 300px;
  height: auto;
}

#main form, #main nav > p{
  display: inline-block;
}

#albums{
  visibility: hidden;
  width:500px;
  background-color: white;
  position: absolute;
  text-align: center;
  border: solid 1px black;
  opacity: 0;
  padding-bottom: 0.5em;
}

#albums h2{
  margin-top: 0;
  background: deepskyblue;
  color: white;
}

#albums img{
  width: 50px;
}

#albums table{
  margin: auto;
  border-spacing: 20px 0px;
}

footer{
  text-align: center;
  padding: 0.5em 0;
  margin : 0;
  background: black;
  color: white;
}
